In [87]:
import mysql.connector

In [88]:
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
)

In [89]:
cursor = db.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS pokemon_db")

In [90]:
pokemon_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="pokemon_db"
)

In [ ]:
sql_pokemons = "CREATE TABLE IF NOT EXISTS \
    pokemons( \
        id INT, \
        name VARCHAR(255), \
        height INT, \
        weight INT, \
        stats_id INT, \
        PRIMARY KEY (id) \
    )"

cursor = pokemon_db.cursor()
cursor.execute(sql_pokemons)

In [ ]:
sql_pokemons_stats = "CREATE TABLE IF NOT EXISTS \
    pokemons_stats( \
        id INT, \
        hp INT, \
        attack INT, \
        defense INT, \
        special_attack INT, \
        special_defense INT, \
        speed INT, \
        PRIMARY KEY (id) \
    )"
    
cursor = pokemon_db.cursor()
cursor.execute(sql_pokemons_stats)

In [ ]:
sql_pokemons_generations = "CREATE TABLE IF NOT EXISTS \
    pokemons_generations( \
        pokemon_id INT, \
        generation_id INT, \
        PRIMARY KEY (pokemon_id, generation_id) \
    )"

sql_generations = "CREATE TABLE IF NOT EXISTS \
    generations( \
        id INT, \
        generation INT, \
        game VARCHAR(255), \
        PRIMARY KEY (id) \
    )"
    
cursor = pokemon_db.cursor()
cursor.execute(sql_pokemons_generations)

cursor = pokemon_db.cursor()
cursor.execute(sql_generations)

In [ ]:
sql_pokemons_types = "CREATE TABLE IF NOT EXISTS \
    pokemons_types( \
        pokemon_id INT, \
        type_id INT, \
        PRIMARY KEY (pokemon_id, type_id) \
    )"

sql_types = "CREATE TABLE IF NOT EXISTS \
    types( \
        id INT, \
        name VARCHAR(255), \
        PRIMARY KEY (id) \
    )"
    
cursor = pokemon_db.cursor()
cursor.execute(sql_pokemons_types)

cursor = pokemon_db.cursor()
cursor.execute(sql_types)

In [ ]:
sql_pokemons_abilities = "CREATE TABLE IF NOT EXISTS \
    pokemons_abilities( \
        pokemon_id INT, \
        ability_id INT, \
        PRIMARY KEY (pokemon_id, ability_id) \
)"

sql_abilities = "CREATE TABLE IF NOT EXISTS \
    abilities( \
    id INT, \
    name VARCHAR(255), \
    description VARCHAR(255), \
    is_hidden VARCHAR(255), \
    PRIMARY KEY (id) \
)"

cursor = pokemon_db.cursor()
cursor.execute(sql_pokemons_abilities)

cursor = pokemon_db.cursor()
cursor.execute(sql_abilities)

In [ ]:
sql_pokemons_moves = "CREATE TABLE IF NOT EXISTS \
    pokemons_moves( \
        pokemon_id INT, \
        move_id INT, \
        PRIMARY KEY (pokemon_id, move_id) \
    )"

sql_moves = "CREATE TABLE IF NOT EXISTS \
    moves( \
    id INT, \
    name VARCHAR(255), \
    type VARCHAR(255), \
    category VARCHAR(255), \
    power INT, \
    accuracy INT, \
    pp INT, \
    description VARCHAR(255), \
    PRIMARY KEY (id) \
)"

cursor = pokemon_db.cursor()
cursor.execute(sql_pokemons_moves)

cursor = pokemon_db.cursor()
cursor.execute(sql_moves)

In [98]:
sql_foreign_pokemons = "ALTER TABLE pokemons \
 ADD FOREIGN KEY (stats_id) REFERENCES pokemons_stats(id) \
"
cursor = pokemon_db.cursor()
cursor.execute(sql_foreign_pokemons)

In [99]:
sql_foreign_pokemons_stats = "ALTER TABLE pokemons_stats \
 ADD FOREIGN KEY (id) REFERENCES pokemons(id) \
"  

cursor = pokemon_db.cursor()
cursor.execute(sql_foreign_pokemons_stats)

In [100]:
sql_foreign_pokemons_generations_1 = "ALTER TABLE pokemons_generations \
    ADD FOREIGN KEY (pokemon_id) REFERENCES pokemons(id) \
"
sql_foreign_pokemons_generations_2 = "ALTER TABLE pokemons_generations \
    ADD FOREIGN KEY (generation_id) REFERENCES generations(id) \
"

cursor = pokemon_db.cursor()
cursor.execute(sql_foreign_pokemons_generations_1)

cursor = pokemon_db.cursor()
cursor.execute(sql_foreign_pokemons_generations_2)

In [101]:
sql_foreign_pokemons_types_1 = "ALTER TABLE pokemons_types \
 ADD FOREIGN KEY (pokemon_id) REFERENCES pokemons(id) \
"  
sql_foreign_pokemons_types_2 = "ALTER TABLE pokemons_types \
 ADD FOREIGN KEY (type_id) REFERENCES types(id) \
" 

cursor = pokemon_db.cursor()
cursor.execute(sql_foreign_pokemons_types_1)

cursor = pokemon_db.cursor()
cursor.execute(sql_foreign_pokemons_types_2)

In [102]:
sql_foreign_pokemons_abilities_1 = "ALTER TABLE pokemons_abilities \
 ADD FOREIGN KEY (pokemon_id) REFERENCES pokemons(id) \
"  
sql_foreign_pokemons_abilities_2 = "ALTER TABLE pokemons_abilities \
 ADD FOREIGN KEY (ability_id) REFERENCES abilities(id) \
" 

cursor = pokemon_db.cursor()
cursor.execute(sql_foreign_pokemons_abilities_1)

cursor = pokemon_db.cursor()
cursor.execute(sql_foreign_pokemons_abilities_2)

In [103]:
sql_foreign_pokemons_moves_1 = "ALTER TABLE pokemons_moves \
 ADD FOREIGN KEY (pokemon_id) REFERENCES pokemons(id) \
"  
sql_foreign_pokemons_moves_2 = "ALTER TABLE pokemons_moves \
 ADD FOREIGN KEY (move_id) REFERENCES moves(id) \
" 

cursor = pokemon_db.cursor()
cursor.execute(sql_foreign_pokemons_moves_1)

cursor = pokemon_db.cursor()
cursor.execute(sql_foreign_pokemons_moves_2)

In [ ]:
pokemon_generations = {
    1: ["red", "blue", "yellow"],
    2: ["gold", "silver", "crystal"],
    3: ["ruby", "saphire", "emerald", "firered", "leafgreen"],
    4: ["diamond", "pearl", "platinum", "heartgold", "soulsilver"]
}

for generation in pokemon_generations:
    for game in pokemon_generations[generation]:
        cursor = pokemon_db.cursor()

        sql = "SELECT COUNT(*) FROM generations WHERE game = %s"
        cursor.execute(sql, (game,))
        count = cursor.fetchone()[0]

        cursor.close()

        if count == 0:
            sql = "INSERT INTO generations(generation, game) VALUES (%s, %s)"
            cursor.execute(sql, (generation, game))

In [ ]:
pokemon_types = ["normal", "fire", "water", "electric", "grass", "ice", "fighting", "poison", "ground", "flying", "psychic", "bug", "rock", "ghost", "dragon", "dark", "steel", "fairy"]

for type_name in pokemon_types:
    cursor = pokemon_db.cursor()

    sql = "SELECT COUNT(*) FROM types WHERE name = %s"
    cursor.execute(sql, (type_name,))
    count = cursor.fetchone()[0]

    cursor.close()

    if count == 0:
        sql = "INSERT INTO types(name) VALUES (%s)"
        cursor.execute(sql, (type_name,))

In [106]:
pokemon_db.commit()
pokemon_db.close()